

.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 300px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row-reverse;
}

.profile-details {
    margin-top: 20px;
    display: flex;
flex-direction: column;
justify-content: end;
align-items: end;
}

.edit-profile-form {
    margin-top: 20px;
}

.edit-profile-form .form-group {
    margin-bottom: 15px;
}

.edit-profile-form.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
